<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography</title>
    <link href="app.component.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ravi+Prakash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ma+Shan+Zheng&family=Ravi+Prakash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Faster+One&family=Ma+Shan+Zheng&family=Ravi+Prakash&family=Roboto&family=Shojumaru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="header">
   <img src="../assets/naveen-logo.png" class="logo">
    <ul style="margin-right: -455px;">
        <li>HOME</li>
        <li>ABOUT
            <ul>
                <li>Aperture</li>
                <li>Speed</li>
                <li>Exposure</li>
                <li>Light</li>
            </ul> 
        </li>
        <li>SERVICES
            <ul>
                <li>Wedding PG</li>
                <li>Event PG</li>
                <li>Lifestyle PG</li>
                <li>Travel PG</li>
            </ul>
        </li>
        <li>NEWS</li>
        <li>CONTACT
            <ul>
                <li>Map</li>
                <li>social media</li>
                <li>Mobile</li>
            </ul>
        </li>

    </ul>
    <div class="topnav">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
          </form>
        </div>
      </div>
    
</header><br><br><br><br>
<h6><b>WILDLIFE  PHOTOGRAPHY</b>,Photographers are history makers.</h6>
    <p><b>“Climb up on some hill at sunrise.  Everybody needs perspective <br>once in a while, and you’ll find it there.”</b></p> 
    <button type="button" class="btn btn-info"><b>Learn More!</b></button>

    <ul class="sci">
        <li><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></li><br>
        <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li><br>
        <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li><br>
        <li><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </ul>
    
    <div class="footer">
        <p>Nawin reddy Kaluvayi2021</p>
      </div>
</body>
</html>